<!doctype html>
<html class="no-js" lang="en">
  <%- include('partials/head') %>
  <body>
    <div class="panel text-center">
      <h1>MegaHurt</h1>
    </div>

    <div class="row" id="space">
      <div class="small-12 columns">&nbsp</div>
    </div>

    <%- include('partials/drumControls') %>
    <%- include('partials/drums') %>
    <%- include('partials/synthControls') %>
    <%- include('partials/synths') %>
    <%- include('partials/scripts') %>
  </body>
</html>
